include:
  - project: 'shared/gitlab-ci-includes'
    ref: main
    file:
      - '/base.yml'
      - '/pypi-packages.yml'
      - '/debian-packages.yml'
      - '/python.yml'

variables:
  APTLY_BASE_REPOSITORY: common

stages:
  - test
  - build
  - publish

unit test and feature test:
  stage: test
  image: python:3.13
  services:
    - name: mariadb:11.5
      alias: mariadb
  variables:
    MYSQL_ROOT_PASSWORD: 'dy9cAjyfhUpyaF7XuhzxzZ4a'
  script:
    - !reference [.add repositories, script]
    - apt-get -y install sudo php-cli php-mysql
    # Test dependencies
    - addgroup --gid 1000 wp_test
    - adduser --disabled-password --gecos "" --uid 1000 --gid 1000 wp_test
    - pip install --no-cache-dir -r requirements/test.txt
    - pip install .
    - sudo -u wp_test pytest -n 10 -vvv --cov-branch --cov=cyberfusion.WordPressSupport --cov-config=.coveragerc --cov-fail-under=100 --junitxml=report-pytest.xml
      --database-username=root --database-password='dy9cAjyfhUpyaF7XuhzxzZ4a' --database-host=mariadb
  artifacts:
    reports:
      junit: report-*.xml
